<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>AstroCam</string>
    <key>NSCameraUsageDescription</key>
    <string>AstroCam ha bisogno della fotocamera per l'anteprima live e gli scatti.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>AstroCam salva le foto nella libreria e nell'album AstroCam.</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
</dict>
</plist>
